fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
pydantic-settings
supabase
email-validator
httpx
python-multipart==0.0.9
langgraph
e2b
langchain-core
langchain-openai
langchain-anthropic
pgvector
numpy
openai
